"""Controller for the __fymo_tmpl_name__ page."""


def getContext():
    # Returned keys arrive in the template as props, server-rendered.
    return {
        'name': '__fymo_tmpl_name__',
        'route': '__fymo_tmpl_name__: __fymo_tmpl_name__.index',
    }
