"""Home controller"""


def getContext():
    # Context data for the template, passed as props.
    return {
        'title': 'Welcome to Fymo',
        'message': 'Your Python SSR framework for Svelte 5 is ready!',
    }
