{
  "compilerOptions": {
    "target": "ES2022",
    "module": "ESNext",
    "moduleResolution": "bundler",
    "strict": true,
    "verbatimModuleSyntax": true,
    "isolatedModules": true,
    "skipLibCheck": true,
    "paths": {
      "$remote/*": ["./dist/client/_remote/*"],
      "$auth": ["./dist/client/_auth"],
      "$lib/*": ["./app/lib/*"],
      "$components/*": ["./app/components/*"]
    }
  },
  "include": ["app/**/*.svelte", "app/**/*.ts"]
}
